body {
  max-width: 900px;
  padding: 0 var(--space-sm);
}

/* headings
----------------------------------------------- */
h1 {
  position: relative;

  width: max-content;

  line-height: 1.3;
}
h1::after {
  position: absolute;
  bottom: -5px;
  left: 0;

  height: 4px;
  width: 100%;

  background: var(--accent);
  box-shadow: 2px 2px 0 var(--black);

  content: ' ';
}

/* text content
----------------------------------------------- */
.content-wrapper {
  margin: 0 auto;
  max-width: 500px;
}
