body {
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;

  max-width: 1200px;
  padding: var(--space-lg);
}

/* Navigation component */
nav {
  flex-shrink: 1;

  margin: 0;
  padding: 0 var(--space-lg);
}
nav a {
  font-size: 1.3em;
}

/* Box component */
.box {
  padding: var(--space-lg);
  padding: var(--space-md);
  height: min-content;
  background: var(--accent);
  color: var(--black);
  box-shadow: 10px 10px 0 var(--jet-black);
  flex-basis: 300px;
  flex-grow: 0;
  margin: 0 0 0 -10px; /* Offset 10px box-shadow so the box appears centered */
}
.box h1 {
  margin: 0;
  font-size: 2.2em;
}

@media (min-width: 500px) {
  body {
    align-items: center;
  }
}

@media (min-width: 655px) {
  nav ul a {
    font-size: 1.5em;
  }

  .box {
    flex-basis: 400px;
    padding: var(--space-lg);
  }
  .box h1 {
    font-size: 2.85em;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: 500px;
    padding: var(--space-lg);
  }
  .box h1 {
    font-size: 3.65em;
  }

  nav ul a {
    font-size: 2em;
  }
}

@media (prefers-color-scheme: dark) {
  .box {
    color: var(--jet-black);
  }
}
