<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/assets/css/global.css" />
    {% block css %}{% endblock %}
  </head>
  <body class="content-wrapper">
    {% include "partials/site-nav.njk" %}
    <main>
      {% block content %}

      {{ content | safe }}

      {% endblock %}
    </main>
  </body>
</html>
