{% extends "layouts/default.njk" %}{% block content %}
<article>
  <heading>
    <time datetime="{{ page.date | dateTime }}">{{
      page.date | prettyDate
    }}</time>
    <h1>{{ title }}</h1>
  </heading>
  {{ content | safe }}
</article>
{% endblock %}
