<!DOCTYPE html>
<html lang="en">
  {% include "partials/html-head.njk" %} {% block stylesheets %}
  <link rel="preload" href="/assets/css/layouts/landing.css" as="style" />
  <link rel="stylesheet" href="/assets/css/layouts/landing.css" />
  {% endblock %}
  <body>
    <nav>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    <main class="box">
      {% block content %}

      {{ content | safe }}

      {% endblock %}
    </main>
  </body>
</html>
