{% extends "layouts/base.njk" %}{% block css %}
<link rel="stylesheet" href="../assets/css/blog.css" />
{% endblock %} {% block content %}
<article>
  <heading>
    <h1 class="post-title">{{ title }}</h1>
    {{ page.date | formatDate }}
  </heading>
  <hr class="post-header-divider" />
  {{ content | safe }}
</article>
{% endblock %}
